
.additional-products__wrapper {
  width: @width-mobile;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @width-tablet;
    margin: 0 auto;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 20%;
    column-gap: 81px;
    width: @width-desktop;
    max-width: 1220px;
    margin-bottom: 87px;
  }
}

.additional-products__title {
  position: relative;
  width: 270px;
  margin: 0;
  margin-bottom: 33px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  font-family: @font-secondary;
  font-size: 24px;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";
    left: -15px;
    top: 40px;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    width: 419px;
    margin-bottom: 80px;
    margin-left: 30px;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-top: none;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;

    &::before {
      left: -45px;
      top: 22px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 419px;
    margin-left: 70px;

    &::before {
      left: -85px;
    }
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid #cdcdcd;
    margin-bottom: 72px;

    :last-child {
      border-bottom: none;
    }
  }

  @media (min-width: @desktop-width) {
    border: none;
    margin-bottom: 0;

    :last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.additional-products__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "description value"
    "button button";
  gap: 14px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 25% 10%;
    grid-template-areas:
      "title description value"
      "button button button";
    column-gap: 31px;
    row-gap: 27px;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 35.3% 16% 15% 30%;
    grid-template-areas: "title description value button";
    align-items: center;
    gap: 10px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 19px;
  }
}

.additional-products__item-title {
  grid-area: title;
  margin: 0;
  padding-top: 13px;
  color: #222222;
  font-family: @font-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

.additional-products__item-description {
  grid-area: description;
  color: #444444;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    justify-self: end;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    justify-self: start;
  }
}

.additional-products__item-value {
  grid-area: value;
  justify-self: end;
  color: #444444;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.additional-products__button {
  grid-area: button;

  @media (min-width: @desktop-width) {
    margin-left: 28px;
  }
}

.additional-products__gift {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 187px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 58px;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
    url("../../img/cat-gift/cat-gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../img/cat-gift/cat-gift@2x.jpg");
  }

  &::before {
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: -128px;
    margin-bottom: 48px;
    width: 78px;
    height: 80px;
    background-image: url("../../img/icons/stack.svg#icon-gift");
  }

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 71px;
    padding-bottom: 69px;
    padding-left: 421px;
    padding-right: 125px;
    text-align: left;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../img/cat-gift/cat-gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
        url("../../img/cat-gift/cat-gift-tablet@2x.jpg");
    }

    &::before {
      position: absolute;
      margin-top: -1.9%;
      margin-left: -342px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 185px;
    padding-bottom: 0;
    padding-left: 41px;
    padding-right: 42px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../img/cat-gift/cat-gift-desktop.jpg");
    background-position: top;
    background-size: 100%;
    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
        url("../../img/cat-gift/cat-gift-desktop@2x.jpg");
    }

    &::before {
      top: 21%;
      left: 174%;
    }
  }
}
