
.advantage-icon {
  min-width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.advantage-icon--sheet {
  background-image: url("../../img/icon-leaf.svg");
}

.advantage-icon--wash {
  background-image: url("../../img/icon-wash.svg");
}

.advantage-icon--eat {
  background-image: url("../../img/icon-eat.svg");
}

.advantage-icon--time {
  background-image: url("../../img/icone-time.svg");
}


@media (min-width: @tablet-width) {
  .advantage {
    display: flex;
    gap: 31px;
    flex-direction: column;
    align-items: start;
  }

  .advantage-icon {
    width: 80px;
    height: 80px;
    background-size: 100%;
  }
}
