.catalog {
  border-top: 1px solid #d9d9d9;
}

.catalog__wrapper {
  margin: 0 auto;
  padding-top: 27px;
}

.catalog__title {
  margin: 0 auto;
  margin-bottom: 41px;
  width: @width-mobile;
}

.catalog__products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__products-item {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .catalog {
    border-top: none;
  }

  .catalog__wrapper {
    width: @width-tablet;
    padding-top: 65px;
  }

  .catalog__products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .catalog__products-item {
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
    border: none;
    background-image: linear-gradient(#ffffff 10%, #f2f2f2 10%, #f2f2f2);
  }

  .catalog__title {
    margin: 0;
    margin-bottom: 84px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
  }

  .catalog__title {
    width: @width-desktop;
  }
}
