.footer {
  background-color: #f2f2f2;
}

.footer__section {
  display: flex;
  flex-direction: column;
  width: @width-mobile;
  margin: 0 auto;
  padding: 40px 0;
}

.footer__logo {
  margin: 0 auto;
  text-decoration: none;
}

.footel__social-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 20px 0;
  list-style-type: none;
}

.footer__logo-academy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: @tablet-width) {
  .footer__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: @width-tablet;
  }

  .footer__logo-academy {
    justify-content: end;
    gap: 23px;
  }

  .footer__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__section {
    width: @width-desktop;
  }
}
