.footer {
  background-color: #f2f2f2;
}

.footer__section {
  display: flex;
  flex-direction: column;
  width: @width-mobile;
  margin: 0 auto;
  padding: 40px 0;
}

.footer__logo {
  margin: 0 auto;
  text-decoration: none;

  :hover {
    fill: #3e3e3e;
  }

  :active {
    fill: #6b6b6b;
  }
}

.footel__social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
}

.footel__social-link {
  :hover {
    fill: #68b738;
  }

  :active {
    fill: #68b738;
    opacity: 0.5;
  }
}

.footer__logo-academy-wrapper {
  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}

.footer__logo-academy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    --svg-logo-color: #68b738;
  }

  &:active {
    --svg-logo-color: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: @width-tablet;
  }

  .footel__social-list {
    border: none;
  }

  .footer__logo-academy {
    width: fit-content;
    gap: 23px;
  }

  .footer__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__section {
    width: @width-desktop;
  }
}
