.history {
  background-color: #eaeaea;

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px, #eaeaea 70%);
  }
}

.history__wrapper {
  width: @width-mobile;
  max-width: 1220px;
  min-height: 298px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 40px;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 31px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    width: @width-desktop;
    display: grid;
    grid-template-areas:
      "title slider"
      "intro slider"
      "list slider";
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px, #eaeaea 70%);
    padding-bottom: 10px;
    padding-top: 18px;
  }
}

.history__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-area: title;
    margin-bottom: 145px;
    padding-left: 0;
  }
}

.history__intro {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #444444;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-area: intro;
    margin-bottom: 70px;
    padding-left: 0;
    padding-right: 180px;
  }
}

.history__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content min-content 1fr;
    column-gap: 43px;
    margin-bottom: 65px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-area: list;
    row-gap: 20px;
    margin-bottom: 0;
    padding: 0;
  }
}

.history__item {
  position: relative;
  justify-self: center;
  width: 124px;
  min-height: 56px;
  margin-bottom: 34px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  &--price {
    grid-column: 1/-1;
    display: flex;
    min-height: 20px;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    gap: 5px;
    padding: 0;
    margin: 0;
    background-image: none;
    border: none;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    min-height: 77px;
    background-size: contain;

    &--price {
      width: 100%;
      justify-self: end;
      grid-column: 3/-1;
      flex-direction: column-reverse;
      align-items: end;
      justify-content: flex-end;
      margin-top: 12px;
      gap: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    gap: 66px;

    &--price {
      grid-column: 1/-1;
      flex-direction: row-reverse;
      align-items: start;
      margin-top: 0;
    }
  }
}

.history__value {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 7px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  &--big {
    padding-top: 14px;
    padding-bottom: 17px;
    font-size: 24px;
    line-height: 24px;
  }

  &--small {
    font-size: 14px;
    line-height: 20px;
  }

  &--small-price {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: @tablet-width) {
    &--big {
      padding-bottom: 15px;
      font-size: 30px;
      line-height: 37px;
    }

    &--small-price {
      font-size: 20px;
      line-height: 20px;
    }
  }
}


.history__description {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  &--smal {
    position: absolute;
    top: 80%;
    left: 18%;
    width: 77px;
    color: #444444;
    font-family: @fonts-primary;
    font-size: 12px;
    line-height: 12px;
    text-transform: none;
    background-color: #eaeaea;
  }

  &--big {
    font-size: 14px;
    line-height: 20px;
  }

  &--big-price {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: @tablet-width) {
    &--smal {
      width: 135px;
      padding: 0 2px;
      top: 85%;
      left: 7%;
      background-color: #ffffff;
      font-size: 14px;
      line-height: 14px;
    }

    &--big-price {
      align-self: stretch;
      text-align: right;
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    &--smal {
      background-color: #eaeaea;
    }
  }
}

.history__slider {
  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px, #eaeaea 70%);
    padding-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    max-width: 560px;
    grid-area: slider;
    background: linear-gradient(to bottom, #ffffff 140px, #eaeaea 140px, #eaeaea 70%);
    margin-left: 50px;
    padding-bottom: 0;
  }
}

.history__wrapper-slider {
  position: relative;
  height: 256px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 512px;
    width: 560px;
    background: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px, #eaeaea 70%);
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    background-color: #eaeaea;
  }
}

.history__slider-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  background-color: #eaeaea;
  z-index: 1;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px, #eaeaea 70%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff 132px, #eaeaea 132px, #eaeaea 70%);
  }
}

.history__slider-after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px, #eaeaea 70%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff 132px, #eaeaea 132px, #eaeaea 70%);
  }
}

.history__slider-image {
  display: block;
  height: 256px;
  min-width: 280px;
  object-fit: none;

  @media (min-width: @tablet-width) {
    height: 512px;
    min-width: 560px;
  }
}

.history__slider-divider {
  position: absolute;
  top: 0;
  left: 49.5%;
  height: 100%;
  width: 4px;
  border-radius: 2px;
  background-color: #666666;
  z-index: 2;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.6;
    background-color: #5eaa2f;
  }
}

.history__slider-divider-button {
  position: absolute;
  top: calc(50% - 20px);
  left: -17px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: calc(50% - 20px);
    left: 0;
    width: 40px;
    height: 40px;
    mask-image: url("../../img/icons/stack.svg#slider-button");
    background-color: #666666;
  }

  &:hover::after {
    background-color: #68b738;
  }

  &:active::after {
    background-color: #5eaa2f;
    opacity: 0.6;
  }
}
