.history {
  background-color: #eaeaea;
  padding-top: 25px;
}

.history__wrapper {
  width: @width-mobile;
  margin: 0 auto;
}

.title-history {
  margin-bottom: 40px;
}

.history__intro {
  color: #444444;
  line-height: 18px;
}

.history__value {
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.history__value--big {
  font-size: 24px;
  line-height: 24px;
}

.history__value--small {
  font-size: 14px;
  line-height: 20px;
}

.history__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.history__description--smal {
  font-size: 12px;
  line-height: 12px;
}

.history__description--big {
  font-size: 14px;
  line-height: 20px;
}

.history__slider {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .history {
    background: linear-gradient(to bottom, #ffffff 50%, #eaeaea 50%);
  }

  .history__wrapper {
    width: @width-tablet;
  }
}

@media (min-width: @desktop-width) {
  .history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to bottom, #ffffff 30%, #eaeaea 30%, #eaeaea 70%);
  }

  .history__wrapper {
    width: @width-desktop;
  }
}
