.main-nav {
  position: relative;
}

.main-nav--closed {
  display: none;
}

.main-nav--opened {
  display: static;
}

.main-nav__menu-list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.main-nav__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-decoration: none;
}


@media (min-width: @tablet-width) {
  .main-nav__menu-list {
    position: static;
    display: flex;
    align-items: center;
    column-gap: 33px;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__menu-list {
    background-color: transparent;
  }

  .main-nav__link {
    color: #ffffff;
  }
}
