.main-header {
  width: @width-mobile;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header__wrapper {
  display: flex;
}


@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    width: @width-tablet;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    width: @width-desktop;
  }
}
